@model IEnumerable<rpnTest.Models.Material>

@{
    ViewBag.Title = "GetMaterials";
}

<h2>GetMaterials</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.mat_desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mat_cost_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mat_mu_price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.mat_desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mat_cost_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mat_mu_price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.mat_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.mat_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.mat_id })
        </td>
    </tr>
}

</table>
