@model rpnTest.Models.Client_Address

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Client_Address</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Address.adr_line_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.adr_line_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.client_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.client_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cli_adr_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
