@model IEnumerable<rpnTest.Models.Scope_of_Work>

@{
    ViewBag.Title = "getSOW";
}

<h2>getSOW</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sow_desc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sow_desc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.sow_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.sow_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.sow_id }) |
            @Html.ActionLink("Labour", "GetLabour", "Labour", new { id = item.sow_id }, null) |
            @Html.ActionLink("Materials", "GetMaterials", "Materials", new { id = item.sow_id }, null) |
            @Html.ActionLink("View Orders", "GetOrdersForScope", "Orders", new { id = item.sow_id }, null)
        </td>
    </tr>
}

</table>
